.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modal-header, .modal-body, .modal-footer {
        padding: 1.25rem;
    }

    .modal-header {
        font-weight: 500;
        text-align: left;
        border-bottom: 2px solid;
    }

    .modal-body {
        height: 3rem;
    }

    .modal-footer {
        display: flex;
        justify-content: space-around;
    }
}